/* style for welcome header*/
.headerDiv {
  background-image: url("background.jpeg");
  font-family: "Courier New";
  font-size: 50px;
  height: 25%;
  text-align: center;
  color:brown;

/*Welcome message*/
}
.welcomeDiv {
  font-family: "Courier New";
  font-size: 30px;
  border-style: dotted;
  border-width:0.5em;
  background-color: #92D1C3;
  text-align: center;
}


/*#9F7E69
#FDF5BF
#D2BBA0
#92D1C3
#8BB8A8
*/
