/* style for welcome header*/
body{
  background-color: #ede7b1;
}
.headerDiv {
  background-image: url("background.jpeg");
  font-family: "Courier New";
  font-size: 50px;
  text-align: center;
  color:#3a606e;
  padding: 2em, 2em,2em,2em;

/*Welcome message*/
}
.welcomeDiv {
  font-family: "Courier New";
  font-size: 30px;
  border-style: dotted;
  border-width:0.5em;
  text-align: center;
  margin: auto;
  width: 50%;
  padding: 2em, 2em,2em,2em;
  color: #3a606e;
  
}

.gameExplaination {
  text-align: center;
  margin: auto;
  width: 50%;
  padding: 2em, 2em,2em,2em;
  font-family: "Courier New";
  font-size: 20px;
  color: #3a606e;
  
}
.startButton{
  -moz-box-shadow: 4px 4px 4px 0px #30475c;
	-webkit-box-shadow: 4px 4px 4px 0px #30475c;
	box-shadow: 4px 4px 4px 0px #30475c;
	background:-webkit-gradient(linear, left top, left bottom, color-stop(0.05, #3a606e), color-stop(1, #3a606e));
	background:-moz-linear-gradient(top, #3a606e 5%, #3a606e 100%);
	background:-webkit-linear-gradient(top, #3a606e 5%, #3a606e 100%);
	background:-o-linear-gradient(top, #3a606e 5%, #3a606e 100%);
	background:-ms-linear-gradient(top, #3a606e 5%, #3a606e 100%);
	background:linear-gradient(to bottom, #3a606e 5%, #3a606e 100%);
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#3a606e', endColorstr='#3a606e',GradientType=0);
	background-color:#3a606e;
	-moz-border-radius:15px;
	-webkit-border-radius:15px;
	border-radius:15px;
	display:inline-block;
	cursor:pointer;
	color:#c8d5b9;
	font-family:Courier New;
	font-size:17px;
	font-weight:bold;
	padding:12px 23px;
	text-decoration:none;
	text-shadow:0px 1px 0px #123252;
	text-align: center;
	margin: auto;
	width: 50%;
	position: relative;
	left: 25%;
  
}
.startButton:hover {
	background:-webkit-gradient(linear, left top, left bottom, color-stop(0.05, #3a606e), color-stop(1, #3a606e));
	background:-moz-linear-gradient(top, #3a606e 5%, #3a606e 100%);
	background:-webkit-linear-gradient(top, #3a606e 5%, #3a606e 100%);
	background:-o-linear-gradient(top, #3a606e 5%, #3a606e 100%);
	background:-ms-linear-gradient(top, #3a606e 5%, #3a606e 100%);
	background:linear-gradient(to bottom, #3a606e 5%, #3a606e 100%);
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#3a606e', endColorstr='#3a606e',GradientType=0);
	background-color:#3a606e;
}
.startButton:active {
	position:relative;
	top:10px;
}
.unitButton {
	-moz-box-shadow:inset -3px -3px 2px 1px #3a606e;
	-webkit-box-shadow:inset -3px -3px 2px 1px #3a606e;
	box-shadow:inset -3px -3px 2px 1px #3a606e;
	background:-webkit-gradient(linear, left top, left bottom, color-stop(0.05, #d1ca98), color-stop(1, #d1ca98));
	background:-moz-linear-gradient(top, #d1ca98 5%, #d1ca98 100%);
	background:-webkit-linear-gradient(top, #d1ca98 5%, #d1ca98 100%);
	background:-o-linear-gradient(top, #d1ca98 5%, #d1ca98 100%);
	background:-ms-linear-gradient(top, #d1ca98 5%, #d1ca98 100%);
	background:linear-gradient(to bottom, #d1ca98 5%, #d1ca98 100%);
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#d1ca98', endColorstr='#d1ca98',GradientType=0);
	background-color:#d1ca98;
	-moz-border-radius:10px;
	-webkit-border-radius:10px;
	border-radius:10px;
	display:inline-block;
	cursor:pointer;
	color:#3a606e;
	font-family:Courier New;
	font-size:21px;
	font-weight:bold;
	padding:25px 50px;
	text-decoration:none;
	text-shadow:2px 4px 6px #154682;
  	width:20%;
	
}
.unitButton:hover {
	background:-webkit-gradient(linear, left top, left bottom, color-stop(0.05, #d1ca98), color-stop(1, #d1ca98));
	background:-moz-linear-gradient(top, #d1ca98 5%, #d1ca98 100%);
	background:-webkit-linear-gradient(top, #d1ca98 5%, #d1ca98 100%);
	background:-o-linear-gradient(top, #d1ca98 5%, #d1ca98 100%);
	background:-ms-linear-gradient(top, #d1ca98 5%, #d1ca98 100%);
	background:linear-gradient(to bottom, #d1ca98 5%, #d1ca98 100%);
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#d1ca98', endColorstr='#d1ca98',GradientType=0);
	background-color:#d1ca98;
}
.unitButton:active {
	position:relative;
	top:10px;
}

.backButton {
	-moz-box-shadow:inset -3px -3px 2px 1px #3a606e;
	-webkit-box-shadow:inset -3px -3px 2px 1px #3a606e;
	box-shadow:inset -3px -3px 2px 1px #3a606e;
	background:-webkit-gradient(linear, left top, left bottom, color-stop(0.05, #d1ca98), color-stop(1, #d1ca98));
	background:-moz-linear-gradient(top, #d1ca98 5%, #d1ca98 100%);
	background:-webkit-linear-gradient(top, #d1ca98 5%, #d1ca98 100%);
	background:-o-linear-gradient(top, #d1ca98 5%, #d1ca98 100%);
	background:-ms-linear-gradient(top, #d1ca98 5%, #d1ca98 100%);
	background:linear-gradient(to bottom, #d1ca98 5%, #d1ca98 100%);
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#d1ca98', endColorstr='#d1ca98',GradientType=0);
	background-color:#d1ca98;
	-moz-border-radius:10px;
	-webkit-border-radius:10px;
	border-radius:10px;
	display:inline-block;
	cursor:pointer;
	color:#3a606e;
	font-family:Courier New;
	font-size:20px;
	font-weight:bold;
	padding:10px 20px;
	text-decoration:none;
	text-shadow:2px 4px 6px #154682;
  	width:30%;
	
}
.backButton:hover {
	background:-webkit-gradient(linear, left top, left bottom, color-stop(0.05, #d1ca98), color-stop(1, #d1ca98));
	background:-moz-linear-gradient(top, #d1ca98 5%, #d1ca98 100%);
	background:-webkit-linear-gradient(top, #d1ca98 5%, #d1ca98 100%);
	background:-o-linear-gradient(top, #d1ca98 5%, #d1ca98 100%);
	background:-ms-linear-gradient(top, #d1ca98 5%, #d1ca98 100%);
	background:linear-gradient(to bottom, #d1ca98 5%, #d1ca98 100%);
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#d1ca98', endColorstr='#d1ca98',GradientType=0);
	background-color:#d1ca98;
}
.backButton:active {
	position:relative;
	top:10px;
}

.flex-container-unit {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin: auto;
}
